.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.disappear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.noscroll {
  overflow: hidden;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: rgb(19, 19, 19);
  opacity: 10%;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*, body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Economica", sans-serif;
}

.whole-wrap {
  background: #110116;
  z-index: -15;
  width: 100%;
  position: relative;
}

.bg-base-mobile {
  position: absolute;
  z-index: -10;
  width: 100vw;
}

.bg-base-web {
  display: none;
  visibility: hidden;
}

/* Layout */

.wrapper {
  width: 100%;
  overflow: hidden;
}

.section-landing {
  height: 190vw;
}

.section-acara, .section-misi {
  height: 216vw;
}

.section-kelompok {
  height: 216.5vw;
}

.section-credits {
  height: 216vw;
}

.section-footer {
  height: 215vw;
  display: grid;
}

/* ?Awan */

.awan {
  position: relative;
  z-index: -1;
}

.awan-kiri, .awan-tengah, .awan-kanan {
  width: 40%;
  position: relative;
}

.awan-kiri {
  top: 5vw;
  right: 7vw;
}

.awan-tengah {
  right: 17vw;
  top: 47vw;
}

.awan-kanan {
  float: right;
  left: 15vw;
  top: 8vw;
}

/* ? Wayang */

.wayang {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 140vw;
}

.wayang-kiri, .wayang-kanan {
  width: 40%;
}

.wayang-kiri {
  position: relative;
  top: 7vw;
  left: 3vw;
}

.wayang-kanan {
  position: relative;
  float: right;
  left: 10vw;
  top: 9vw;
}

/* Text OKK */

.title-okk {
  color: #ffc380;
  width: 60%;
  position: relative;
  top: 30vw;
  left: 10vw;
}

.title-okk h3 {
  font-size: 5vw;
}

.title-okk h1 {
  font-size: 10vw;
}

/* CTA Button Tentang OKK UI 2021 */

.title-okk a {
  position: relative;
  top: 2vw;
  left: 6vw;
}

.cta-tentang {
  border-radius: 7vw;
  width: 60%;
  height: 8vw;
  font-size: 4.3vw;
  background-color: #fff;
  border: none;
}

.cta-tentang:hover {
  opacity: 80%;
}

/* !Acara */

.content {
  width: 100vw;
  margin: 0 auto;
  height: 75vw;
  position: relative;
}

.title-acara {
  color: #ffc380;
  margin: 0 auto;
  width: 85%;
}

.title-acara h1 {
  font-size: 10vw;
}

.title-acara p {
  font-size: 4.5vw;
}

/* !!!CAROUSEL */

/* ?Title Misi */

.wrap-content-misi {
  margin-top: 30vw;
}

.title-misi {
  text-align: center;
  margin: 0 auto;
  padding-top: 8vw;
  width: 80%;
  z-index: 1;
}

.title-misi h1 {
  color: #ffc380;
  font-size: 10vw;
}

.title-misi p {
  font-size: 4.5vw;
  color: #fff;
  z-index: 5;
}

/* ?Awan Misi */

.awan-misi {
  position: relative;
  z-index: -1;
  bottom: 20vw;
}

.awan-misi img {
  width: 75%;
  position: relative;
}

.awan-misikiri {
  right: 30vw;
}

.awan-misikanan {
  float: right;
  left: 30vw;
  bottom: 36vw;
}

/* ?Pohon Kelapa */

.pohon-kelapa {
  width: 100%;
  position: relative;
  bottom: 80vw;
}

.pohon-kelapa img {
  width: 45%;
  position: relative;
}

.kelapa-kanan {
  left: 18vw;
}

.kelapa-kiri {
  right: 8vw;
}

/* !Kelompok */

.title-kelompok {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  color: #fff;
  margin-top: 40vw;
}

.title-kelompok h1 {
  font-size: 10vw;
}

.title-kelompok p {
  color: #cbecf7;
  font-size: 4.5vw;
}

.cta-kelompok {
  width: 30%;
  height: 9vw;
  border-radius: 7vw;
  background-color: #fff;
  border: none;
  font-size: 4.3vw;
}

.cta-kelompok:hover {
  opacity: 80%;
}

/* Bagian Sponsor */

.section-credits {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.text-sponsor {
  width: 100%;
  height: 15vw;
}

.sponsor-wrap {
  margin-top: 45vw;
}

.text-sponsor h2 {
  font-size: 8vw;
  margin: 0 auto;
}

.company-logo {
  margin-top: 10vw;
  margin-bottom: -25vw;
  width: 50%;
}

/* .contact-footer {
  width: 100%;
  height: 50vw;
  display: flex;
  flex-wrap: wrap;
}

.contact-footer-content {
  width: 100%;
  height: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vw 0 0 2vw;
  color: white;
  border: salmon solid 10px;
}

.contact-person {
  grid-template-columns: 33% 33%;
  grid-template-rows: 10%;
  border: yellow solid 2px;
}

.contact-div {
  width: 50%;
  color: white;
  border: red solid 2px;
  display: flex;
}

.contact-div img {
  float: left;
}

.contact-div h4 {
  color: white;
  padding-top: -0.2vw;
}

.contact-icon {
  font-size: 8vw;
  color: white;
  float: left;
}

.contact-line {
  width: 8vw;
  height: 8vw;
}

.tagline-wrap {
  float: left;
  width: 90%;
  border: blue 5px solid;
}

.tagline-wrap div,
.tagline-wrap hr {
  display: flex;
} */

/* Web Properties */

.awan-kanan-web, .awan-float-web {
  display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .wayang-kanan {
    left: 15vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .bg-base-mobile {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (min-device-width: 1224px) {
  .bg-base-web {
    display: unset;
    visibility: visible;
    position: absolute;
    z-index: -10;
    width: 100%;
  }
}

@media only screen and (min-device-width: 1224px) {
  .section-landing {
    height: 60vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .section-acara {
    height: 42.1vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .section-misi {
    height: 62vw;
    z-index: -1;
  }
}

@media only screen and (min-device-width: 1224px) {
  .section-kelompok {
    height: 70vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .section-credits {
    height: 37vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .section-footer {
    height: 23vw;
  }
}

/* ?Awan */

@media only screen and (min-device-width: 1224px) {
  .awan-kiri, .awan-tengah, .awan-kanan {
    width: 30%;
  }
}

@media only screen and (min-device-width: 1224px) {
  .awan-kiri {
    top: 2vw;
    right: 7vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .awan-tengah {
    left: 6vw;
    top: 7vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .awan-kanan {
    left: 5vw;
    top: 2vw;
  }
}

/* ? Wayang */

@media only screen and (min-device-width: 1224px) {
  .wayang {
    width: 100vw;
    height: 100vw;
    bottom: 12vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .wayang-kiri, .wayang-kanan {
    width: 20%;
  }
}

@media only screen and (min-device-width: 1224px) {
  .wayang-kiri {
    top: 0;
    left: 10vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .wayang-kanan {
    left: -7vw;
    top: 15vw;
  }
}

/* Text OKK */

@media only screen and (min-device-width: 1224px) {
  .title-okk {
    width: 60%;
    top: -1vw;
    left: 10vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .title-okk h3 {
    font-size: 3vw;
    color: coral;
    position: absolute;
    left: 19.5vw;
    top: -4.3vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .title-okk h1 {
    font-size: 6vw;
  }
}

/* CTA Button Tentang OKK UI 2021 */

@media only screen and (min-device-width: 1224px) {
  .title-okk a {
    position: relative;
    top: 0vw;
    left: 2.5vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .cta-tentang {
    border-radius: 7vw;
    width: 25vw;
    height: 6vw;
    font-size: 3vw;
    background-color: #fff;
    border: none;
  }
}

@media only screen and (min-device-width: 1224px) {
  .cta-tentang:hover {
    opacity: 80%;
    cursor: pointer;
  }
}

/* !Acara */

@media only screen and (min-device-width: 1224px) {
  .title-acara {
    color: #ffc380;
    margin: 0 auto;
    width: 75%;
  }
}

@media only screen and (min-device-width: 1224px) {
  .title-acara h1 {
    font-size: 5vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .title-acara p {
    font-size: 3vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .awan-kanan-web {
    display: block;
    width: 35%;
    left: 80vw;
    position: absolute;
  }
}

@media only screen and (min-device-width: 1224px) {
  .awan-float-web {
    display: block;
    position: absolute;
    width: 100%;
    left: 30vw;
    bottom: -18vw;
  }
}

/* ?Title Misi */

@media only screen and (min-device-width: 1224px) {
  .wrap-content-misi {
    margin-top: -4vw;
    width: fit-content;
  }
}

@media only screen and (min-device-width: 1224px) {
  .title-misi h1 {
    font-size: 8vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .title-misi p {
    font-size: 3.5vw;
  }
}

/* ?Pohon Kelapa */

@media only screen and (min-device-width: 1224px) {
  .pohon-kelapa {
    width: 100%;
    position: relative;
    bottom: 82vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .pohon-kelapa img {
    width: 40%;
    position: relative;
    z-index: -1;
  }
}

@media only screen and (min-device-width: 1224px) {
  .kelapa-kanan {
    left: 25vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .kelapa-kiri {
    right: 8vw;
  }
}

/* !Kelompok */

@media only screen and (min-device-width: 1224px) {
  .title-kelompok {
    margin-top: 20vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .title-kelompok h1 {
    font-size: 8vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .title-kelompok p {
    font-size: 3.5vw;
  }
}

/* Bagian Sponsor */

@media only screen and (min-device-width: 1224px) {
  .section-credits {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}

@media only screen and (min-device-width: 1224px) {
  .text-sponsor {
    width: 100%;
    height: 15vw;
    display: flex;
    margin-top: 10vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .sponsor-wrap {
    margin-top: 0;
    width: 50%;
    height: 20vw;
    flex: 1;
    flex-direction: row;
  }
}

@media only screen and (min-device-width: 1224px) {
  .sponsor-wrap-right {
    border-right: #000 solid 1px;
  }
}

@media only screen and (min-device-width: 1224px) {
  .text-sponsor h2 {
    font-size: 3.5vw;
    margin: 0 auto 2vw auto;
  }
}

@media only screen and (min-device-width: 1224px) {
  .company-logo {
    margin-top: 0vw;
    margin-bottom: 10vw;
    width: 20vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .contact-footer {
    width: 100%;
    height: 50vw;
    display: flex;
  }
}

@media only screen and (min-device-width: 1224px) {
  .contact-footer-content {
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    padding: 2vw 0 0 2vw;
    color: white;
  }
}

@media only screen and (min-device-width: 1224px) {
  .contact-div {
    width: 50%;
    color: white;
  }
}

@media only screen and (min-device-width: 1224px) {
  .contact-div img {
    float: left;
  }
}

@media only screen and (min-device-width: 1224px) {
  .contact-div h4 {
    color: white;
    padding-top: -0.2vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .contact-icon {
    font-size: 2vw;
    color: white;
    float: left;
  }
}

@media only screen and (min-device-width: 1224px) {
  .contact-line {
    width: 2vw;
    height: 2vw;
  }
}

@media only screen and (min-device-width: 1224px) {
  .tagline-wrap {
    float: right;
    width: 90%;
  }
}

@media only screen and (min-device-width: 1224px) {
  .tagline-wrap div, .tagline-wrap hr {
    display: flex;
    justify-content: flex-end;
  }
}

/* .section-credits {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: unset;
    justify-content: center;
  }

  .text-sponsor {
    width: 50%;
    height: fit-content;
  }

  .text-sponsor h2 {
    font-size: 3vw;
    align-items: center;
    text-align: center;
    margin: 10vw 0 2vw 0;
  }

  .company-logo {
    width: 40%;
    margin: 0 14vw;
  } */

/* .hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-out;
} */

